<!-- <p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button icon="pi pi-bars" (click)="showMenu($event)"></p-button>
    <div class="logo center-items">
      Logo
    </div>
  </div>
</p-toolbar>

<p-menu #menu [popup]="true" [model]="items" [appendTo]="'body'"></p-menu> -->

<div class="layout-topbar">
  <div class="app-logo">
    <div class="logo">
      logo
    </div>
    <span class="app-name"> Jean</span>
  </div>
  <button (click)="showMenu($event)" class="topbar-menubutton p-link">
    <span></span>
  </button>
</div>